# PIMPRI CHINCHWAD UNIVERSITY
# School of Engineering and Technology
# Academic Year: 2025-2026 | Semester: V
# Course: Foundations of Data Science Lab
# Course Code: UBTML329
# Name: Samarth Prashant Patil Roll No: 06
# Assignment No.: 2

In [8]:
# DATA CLEANING WITH PANDAS
import pandas as pd
import numpy as np

# Sample dataset with issues
data = {
    "Student_ID": [101, 102, 103, 104, 105, 105, 105],
    "Name": ["Shardul", "Rahul", "Shyam", "Nehal", "Ravina", "Rakesh" , "Samarth"],
    "Age": [20, np.nan, 22, 21, 200, 21, np.nan],   # Missing + Outlier (200 years!)
    "Marks": [85, 90, np.nan, 88, 95, 95, 100],  # Missing values
    "Joining_Date": ["2023-06-01", "2023-06-05", "06/10/2023", "2023/06/15", "15-06-2023", "2023-06-15", "2025-01-31"]
}

In [10]:
df = pd.DataFrame(data)
print("---- Original Data ----")
print(df, "\n")

---- Original Data ----
   Student_ID     Name    Age  Marks Joining_Date
0         101  Shardul   20.0   85.0   2023-06-01
1         102    Rahul    NaN   90.0   2023-06-05
2         103    Shyam   22.0    NaN   06/10/2023
3         104    Nehal   21.0   88.0   2023/06/15
4         105   Ravina  200.0   95.0   15-06-2023
5         105   Rakesh   21.0   95.0   2023-06-15
6         105  Samarth    NaN  100.0   2025-01-31

In [14]:
# 1. Handling missing data
# df["Age"].fillna(df["Age"].mean(), inplace=True)
df.fillna({"Age": df["Age"].mean()}, inplace=True)
print(df, "\n")
# Filled age wuth mean

   Student_ID     Name    Age  Marks Joining_Date
0         101  Shardul   20.0   85.0   2023-06-01
1         102    Rahul   56.8   90.0   2023-06-05
2         103    Shyam   22.0    NaN   06/10/2023
3         104    Nehal   21.0   88.0   2023/06/15
4         105   Ravina  200.0   95.0   15-06-2023
5         105   Rakesh   21.0   95.0   2023-06-15
6         105  Samarth   56.8  100.0   2025-01-31

In [16]:
# 2. Remove duplicates
print("---- Removing Duplicates ----")
df = df.drop_duplicates()
print(df, "\n")

---- Removing Duplicates ----
   Student_ID     Name    Age  Marks Joining_Date
0         101  Shardul   20.0   85.0   2023-06-01
1         102    Rahul   56.8   90.0   2023-06-05
2         103    Shyam   22.0    NaN   06/10/2023
3         104    Nehal   21.0   88.0   2023/06/15
4         105   Ravina  200.0   95.0   15-06-2023
5         105   Rakesh   21.0   95.0   2023-06-15
6         105  Samarth   56.8  100.0   2025-01-31

In [20]:
# 3. Fixing data ttypes
print("---- Fixing Data Types ----")

# Convert Joining_Date to datetime
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"], dayfirst=True, errors="coerce")

---- Fixing Data Types ----

In [22]:
# ensuring age is int
df["Age"] = df["Age"].astype(int)

print(df.dtypes, "\n")
print(df, "\n")

Student_ID               int64
Name                    object
Age                      int64
Marks                  float64
Joining_Date    datetime64[ns]
dtype: object

   Student_ID     Name  Age  Marks Joining_Date
0         101  Shardul   20   85.0   2023-01-06
1         102    Rahul   56   90.0   2023-05-06
2         103    Shyam   22    NaN          NaT
3         104    Nehal   21   88.0          NaT
4         105   Ravina  200   95.0          NaT
5         105   Rakesh   21   95.0          NaT
6         105  Samarth   56  100.0          NaT

In [24]:
# 4. treating with outliers
print("---- Handling Outliers ----")

# Using IQR (Interquartile Range) method
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower Bound:", lower_bound, "Upper Bound:", upper_bound)

# Treat outliers: replace with median
df.loc[df["Age"] > upper_bound, "Age"] = df["Age"].median()

print("\nFinal Cleaned Dataset:")
print(df)

---- Handling Outliers ----
Lower Bound: -31.5 Upper Bound: 108.5

Final Cleaned Dataset:
   Student_ID     Name  Age  Marks Joining_Date
0         101  Shardul   20   85.0   2023-01-06
1         102    Rahul   56   90.0   2023-05-06
2         103    Shyam   22    NaN          NaT
3         104    Nehal   21   88.0          NaT
4         105   Ravina   22   95.0          NaT
5         105   Rakesh   21   95.0          NaT
6         105  Samarth   56  100.0          NaT